# Center by Human Population

In [2]:
import pandas as pd

In [72]:
df = pd.read_csv("/Users/sofia/2021-2022 School Year/CSC630/population_average_map/US_population.csv")

In [73]:
df = df.replace(',','', regex=True)

In [74]:
df['2019'] = pd.to_numeric(df['2019'])

In [75]:
df

,Rank,Geographic Area,2010 Census,2010 Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Latitude,Longitude
0,1,New York city New York,8175133,8175031,8190209,8272948,8346693,8396091,8433806,8463049,8469153,8437478,8390081,8336817,40.712728,-74.006015
1,2,Los Angeles city California,3792621,3793139,3795512,3820876,3851202,3881622,3909901,3938568,3963226,3975788,3977596,3979576,34.053691,-118.242766
2,3,Chicago city Illinois,2695598,2695652,2697477,2708114,2719141,2725731,2727066,2724344,2716723,2711069,2701423,2693976,41.875562,-87.624421
3,4,Houston city Texas,2099451,2095517,2100280,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2318573,2320268,29.758938,-95.367697
4,5,Phoenix city Arizona,1445632,1446691,1449038,1469796,1499274,1526491,1555445,1583690,1612199,1633560,1654675,1680992,33.448437,-112.074142
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,784,Lakewood city Ohio,52131,52131,52026,51662,51400,51257,51088,50811,50528,50211,50012,49678,41.481993,-81.798191
784,785,Troy city New York,50129,50162,50081,50020,49848,49921,49968,49776,49597,49433,49354,49154,42.728412,-73.691788
785,786,Saginaw city Michigan,51508,51469,51363,51012,50728,50272,49798,49230,48902,48696,48310,48115,43.420039,-83.949037
786,787,Niagara Falls city New York,50193,50031,49996,49760,49526,49328,49083,48769,48526,48249,48012,47720,43.084360,-79.061469
787,788,Charleston city West Virginia,51400,51340,51274,50992,50858,50657,50133,49457,48789,48040,47172,46536,38.350600,-81.633281

In [76]:
pop_sum = 0
for i in df['Rank']:
    pop_sum = pop_sum + df['2019'][i-1]
pop_sum

128143272

In [77]:
weights = []
for i in df['Rank']:
    weights.append(df['2019'][i-1] / pop_sum)
df['Weights'] = weights

In [78]:
weighted_lats = 0
weighted_longs = 0
for i in df['Rank']:
    #print(df['Latitude'][i-1],df['Longitude'][i-1],df['2019'][i-1])
    weighted_lats = weighted_lats + (df['Latitude'][i-1] * df['Weights'][i-1])
    weighted_longs = weighted_longs + (df['Longitude'][i-1] * df['Weights'][i-1])
print('The center of the US weighted by population is: ({lat},{long})'.format(lat = weighted_lats, long = weighted_longs))

The center of the US weighted by population is: (36.83271777524879,-96.97488030031423)

# Center by GDP

In [13]:
dff = pd.read_csv("/Users/sofia/2021-2022 School Year/CSC630/population_average_map/gdp_clean.csv")

In [14]:
dff = df_2.replace(',','', regex=True)

In [19]:
dff['GDP'] = pd.to_numeric(dff['GDP'])

In [20]:
dff

          GDP          1    State Capital   Latitude   Longitute   Num
0    248543.0   $229831        Montgomery  32.366966  -86.300648   1.0
1     55531.0    $52864            Juneau  58.301950 -134.419734   2.0
2    409577.0   $377476           Phoenix  33.448437 -112.074142   3.0
3    146292.0   $131818       Little Rock  34.746507  -92.289627   4.0
4   3353473.0  $3189703        Sacramento  38.581061 -121.493895   5.0
5    425595.0   $400041            Denver  39.739236 -104.984862   6.0
6    299819.0   $288368          Hartford  41.765558  -72.690613   7.0
7     81019.0    $78309             Dover  51.125127    1.313423   8.0
8    153979.0   $145728   Washington D.C.  38.895037  -77.036543   9.0
9   1226956.0  $1121367       Tallahassee  30.438083  -84.280933  10.0
10   687680.0   $631346           Atlanta  33.748992  -84.390264  11.0
11    92445.0    $95364          Honolulu  21.304547 -157.855676  12.0
12    93785.0    $85835             Boise  43.616616 -116.200886  13.0
13   956366.0   $884447       Springfield  39.799017  -89.643957  14.0
14   423052.0   $381902      Indianapolis  39.768333  -86.158350  15.0
15   225144.0   $196503        Des Moines  41.591032  -93.604665  16.0
16   196495.0   $177917            Topeka  39.049011  -95.677556  17.0
17   239208.0   $216580         Frankfort  50.110644    8.682092  18.0
18   256905.0   $250976       Baton Rouge  30.450794  -91.139115  19.0
19    76045.0    $68319           Augusta  33.470971  -81.974843  20.0
20   451635.0   $431772         Annapolis  38.978640  -76.492786  21.0
21   637424.0   $600740            Boston  42.360253  -71.058291  22.0
22   567450.0   $535153           Lansing  42.733771  -84.555380  23.0
23   415393.0   $384500          St. Paul  44.949749  -93.093103  24.0
24   126155.0   $117099           Jackson  32.308674  -90.198306  25.0
25   365899.0   $330287    Jefferson City  38.577359  -92.172427  26.0
26    59129.0    $53285            Helena  46.592742 -112.036277  27.0
27   153586.0   $132720           Lincoln  40.808886  -96.707775  28.0
28   192228.0   $180034       Carson City  39.164912 -119.766650  29.0
29    94305.0    $88126           Concord  43.207178  -71.537476  30.0
30   686842.0   $641666           Trenton  40.220594  -74.759722  31.0
31   110696.0   $104462          Santa Fe -30.315474  -61.164508  32.0
32  1893670.0  $1778240            Albany  42.651167  -73.754968  33.0
33   659616.0   $600631           Raleigh  35.780398  -78.639099  34.0
34    66632.0    $56417          Bismarck  46.808327 -100.783739  35.0
35   745000.0   $696274          Columbus  39.962260  -83.000707  36.0
36   211053.0   $195606     Oklahoma City  35.472989  -97.517054  37.0
37   270120.0   $257688             Salem  44.939157 -123.033121  38.0
38   849818.0   $808937        Harrisburg  40.266311  -76.886112  39.0
39    65348.0    $61954        Providence  41.823989  -71.412834  40.0
40   271374.0   $247817          Columbia   4.099917  -72.908813  41.0
41    61732.0    $56072            Pierre  45.294200    5.947340  42.0
42   421086.0   $379454         Nashville  36.162277  -86.774298  43.0
43  2006662.0  $1818394            Austin  30.271129  -97.743700  44.0
44   217702.0   $195594    Salt Lake City  40.759620 -111.886798  45.0
45    36674.0    $34017        Montpelier  43.611242    3.876734  46.0
46   597983.0   $562718          Richmond  37.538509  -77.434280  47.0
47   673169.0   $625121           Olympia  37.638190   21.630538  48.0
48    88242.0    $76366        Charleston  32.787601  -79.940273  49.0
49   369023.0   $348021           Madison  43.074761  -89.383761  50.0
50    42536.0    $38680          Cheyenne  41.139981 -104.820246  51.0

In [21]:
pop_sum = 0
for i in dff['Num']:
    pop_sum = pop_sum + dff['GDP'][i-1]
pop_sum

23056091.0

In [27]:
weights = []
for i in dff['Num']:
    weights.append(dff['GDP'][i-1] / pop_sum)
dff['Weights'] = weights

In [30]:
weighted_lats = 0
weighted_longs = 0
for i in dff['Num']:
    weighted_lats = weighted_lats + (dff['Latitude'][i-1] * dff['Weights'][i-1])
    weighted_longs = weighted_longs + (dff['Longitute'][i-1] * dff['Weights'][i-1])
print('The center of the US weighted by population is: ({lat},{long})'.format(lat = weighted_lats, long = weighted_longs))

The center of the US weighted by population is: (37.43181170135178,-87.0903240644033)

# Center by Cattle

In [62]:
df3 = pd.read_csv("/Users/sofia/2021-2022 School Year/CSC630/population_average_map/cattle.csv")

In [63]:
df3 = df3.replace(',','', regex=True)

In [64]:
df3['Cattle'] = pd.to_numeric(df3['Cattle'])

In [65]:
df3

,Num,State,Human,Ratio,State Capital,Location,Latitude,Longitude,Cattle
0,1,Alabama,4833722,0.26,Montgomery,MontgomeryAlabama,32.366966,-86.300648,1240000
1,2,Alaska,735132,0.01,Juneau,JuneauAlaska,58.301950,-134.419734,10000
2,3,Arizona,6626624,0.14,Phoenix,PhoenixArizona,33.448437,-112.074142,920000
3,4,Arkansas,2959373,0.56,Little Rock,Little RockArkansas,34.746507,-92.289627,1660000
4,5,California,38332521,0.14,Sacramento,SacramentoCalifornia,38.581061,-121.493895,5250000
5,6,Colorado,5268367,0.47,Denver,DenverColorado,39.739236,-104.984862,2480000
6,7,Connecticut,3596080,0.01,Hartford,HartfordConnecticut,41.765558,-72.690613,47000
7,8,Delaware,925749,0.02,Dover,DoverDelaware,39.158168,-75.524368,16000
8,9,Florida,19552860,0.08,Tallahassee,TallahasseeFlorida,30.438083,-84.280933,1620000
9,10,Georgia,9992167,0.10,Atlanta,AtlantaGeorgia,33.748992,-84.390264,1000000
10,11,Hawaii,1404054,0.09,Honolulu,HonoluluHawaii,21.304547,-157.855676,130000
11,12,Idaho,1612136,1.36,Boise,BoiseIdaho,43.616616,-116.200886,2190000
12,13,Illinois,12882135,0.09,Springfield,SpringfieldIllinois,39.799017,-89.643957,1130000
13,14,Indiana,6570902,0.13,Indianapolis,IndianapolisIndiana,39.768333,-86.158350,870000
14,15,Iowa,3090416,1.20,Des Moines,Des MoinesIowa,41.591032,-93.604665,3700000
15,16,Kansas,2893957,2.00,Topeka,TopekaKansas,39.049011,-95.677556,5800000
16,17,Kentucky,4395295,0.48,Frankfort,FrankfortKentucky,38.200905,-84.873284,2090000
17,18,Louisiana,4625470,0.17,Baton Rouge,Baton RougeLouisiana,30.450794,-91.139115,790000
18,19,Maine,1328302,0.06,Augusta,AugustaMaine,44.310545,-69.779276,85000
19,20,Maryland,5928814,0.03,Annapolis,AnnapolisMaryland,38.978640,-76.492786,182000
20,21,Massachusetts,6692824,0.01,Boston,BostonMassachusetts,42.360253,-71.058291,39000
21,22,Michigan,9895622,0.11,Lansing,LansingMichigan,42.733771,-84.555380,1120000
22,23,Minnesota,5420380,0.42,St. Paul,St. PaulMinnesota,44.949749,-93.093103,2280000
23,24,Mississippi,2991207,0.31,Jackson,JacksonMississippi,32.308674,-90.198306,930000
24,25,Missouri,6044171,0.63,Jefferson City,Jefferson CityMissouri,38.577359,-92.172427,3800000
25,26,Montana,1015165,2.51,Helena,HelenaMontana,46.592742,-112.036277,2550000
26,27,Nebraska,1868516,3.29,Lincoln,LincolnNebraska,40.808886,-96.707775,6150000
27,28,Nevada,2790136,0.16,Carson City,Carson CityNevada,39.164912,-119.766650,455000
28,29,New Hampshire,1323459,0.02,Concord,ConcordNew Hampshire,43.207178,-71.537476,32000
29,30,New Jersey,8899339,0.00,Trenton,TrentonNew Jersey,40.220594,-74.759722,29000
30,31,New Mexico,2085287,0.62,Santa Fe,Santa FeNew Mexico,35.687610,-105.938457,1290000
31,32,New York,19651127,0.07,Albany,AlbanyNew York,42.651167,-73.754968,1450000
32,33,North Carolina,9848060,0.08,Raleigh,RaleighNorth Carolina,35.780398,-78.639099,810000
33,34,North Dakota,723393,2.45,Bismarck,BismarckNorth Dakota,46.808327,-100.783739,1770000
34,35,Ohio,11570808,0.11,Columbus,ColumbusOhio,39.962260,-83.000707,1250000
35,36,Oklahoma,3850568,1.12,Oklahoma City,Oklahoma CityOklahoma,35.472989,-97.517054,4300000
36,37,Oregon,3930065,0.33,Salem,SalemOregon,44.939157,-123.033121,1280000
37,38,Pennsylvania,12773801,0.13,Harrisburg,HarrisburgPennsylvania,40.266311,-76.886112,1620000
38,39,Rhode Island,1051511,0.00,Providence,ProvidenceRhode Island,41.823989,-71.412834,5000
39,40,South Carolina,4774839,0.08,Columbia,ColumbiaSouth Carolina,34.000749,-81.034331,360000
40,41,South Dakota,844877,4.32,Pierre,PierreSouth Dakota,44.368364,-100.351136,3650000
41,42,Tennessee,6495978,0.27,Nashville,NashvilleTennessee,36.162277,-86.774298,1760000
42,43,Texas,26448193,0.41,Austin,AustinTexas,30.271129,-97.743700,10900000
43,44,Utah,2900872,0.28,Salt Lake City,Salt Lake CityUtah,40.759620,-111.886798,800000
44,45,Vermont,626630,0.41,Montpelier,MontpelierVermont,44.260216,-72.575114,260000
45,46,Virginia,8260405,0.19,Richmond,RichmondVirginia,37.538509,-77.434280,1530000
46,47,Washington,6971406,0.16,Olympia,OlympiaWashington,47.045102,-122.895008,1100000
47,48,West Virginia,1854304,0.20,Charleston,CharlestonWest Virginia,38.350600,-81.633281,380000
48,49,Wisconsin,5742713,0.58,Madison,MadisonWisconsin,43.074761,-89.383761,3350000
49,50,Wyoming,582658,2.18,Cheyenne,CheyenneWyoming,41.139981,-104.820246,1270000

In [66]:
pop_sum = 0
for i in df3['Num']:
    pop_sum = pop_sum + df3['Cattle'][i-1]
pop_sum

87730000

In [69]:
weights = []
for i in df3['Num']:
    weights.append(df3['Cattle'][i-1] / pop_sum)
df3['Weights'] = weights

In [70]:
weighted_lats = 0
weighted_longs = 0
for i in df3['Num']:
    weighted_lats = weighted_lats + (df3['Latitude'][i-1] * df3['Weights'][i-1])
    weighted_longs = weighted_longs + (df3['Longitude'][i-1] * df3['Weights'][i-1])
print('The center of the US weighted by population is: ({lat},{long})'.format(lat = weighted_lats, long = weighted_longs))

The center of the US weighted by population is: (38.5851569256446,-97.15950381766443)